<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot">

  <xacro:property name="prefix" value="robot1_"/>

  <xacro:include filename="$(find robot_description)/urdf/base/base_link.xacro"/>

  <xacro:include filename="$(find robot_description)/urdf/wheels/wheels.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/joints/wheels_joints.xacro"/>

  <xacro:include filename="$(find robot_description)/urdf/sensors/lidar.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/joints/lidar_joint.xacro"/>

</robot>
